
@{
    ViewBag.Title = "Index";
}

@section Styles{
    <link href="~/Content/assetsNew/css/secondpage.css" rel="stylesheet" />
    <link href="~/Content/assetsNew/css/nika-style.css" rel="stylesheet" />
}
 

<body>
    <div class="main-div">
        <div class="black-div">
            <a href="@Url.Action("Index", "GeoMain")">
                <div class="arrow-back"></div>
                <div class="text-back">უკან</div>
            </a>
            <div class="text-course-name">ლიტერატურის ვიდეოები</div>
        </div>

        <div class="course-div" data-bind="foreach : navTags">
            <div class="video-blocks-main" data-bind="css : {'active' : $index() < 1 }">
                <div class="video-blocks">
                    <div class="text-video-number" data-bind="text : works.length"></div>
                    <div class="cont-circle" data-bind="style : {'display' : needLicense ? 'none' : 'block'}">
                        <div class="c100 p0 small">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-div" data-bind="style : {'display' : needLicense ? 'block' : 'none'}"><div class="lock-icon"></div></div>
                    <div class="arrow-right"  data-bind="style : {'display' : needLicense ? 'none' : 'block'}"></div>
                    <div class="text-for-blocks" data-bind="text : name"></div>
                </div>
                <!-- ko foreach : works -->
                <div class="video-pre-blocks" data-bind="style : { 'cursor' : $parent.needLicense ? 'not-allowed' : 'cursor' }, click : $parent.needLicense ? null :  $root.getAuthorWorkDataById.bind($data, { workId : id }),css:{'active': $parentContext.$index() < 1}">
                    <div class="text-pre-video-length"></div>
                    <div class="text-for-pre-blocks" data-bind="text : name"></div>
                    @*<div class="pre-circle-went">
                        <div class="numbers-right-went" data-bind="text : $index() + 1"></div>
                    </div>*@
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="main-background">
            @Html.Partial("_BurgerMenu"); 
            <div class="number-div">
                <div class="next-videos prev">
                    <div class="arrow-previous"></div>
                </div>
                <div class="number-div-long">
                    <div class="number-divs" data-bind="foreach: workParts">
                        <div data-bind="css : { 'active-number' :   $root.activeInsideIndex() == $root.getCurrentIndex($index(), 0),  
                               'passive-number'  : $root.activeInsideIndex() !=$root.getCurrentIndex($index(), 0) }, 
                               click : $root.selectPre.bind($data, {index : $index()})">
                            <div class="numbers" data-bind="text : $root.getCurrentIndex($index(), 0) + 1 "></div>
                        </div>

                        <div data-bind="css : { 'active-number' :  $root.activeInsideIndex() == $root.getCurrentIndex($index(), 1),  
                              'passive-number'  : $root.activeInsideIndex() !=$root.getCurrentIndex($index(), 1) }, 
             click : $root.selectVideo.bind($data, {index : $index()}) ">
                            <div class="numbers" data-bind="text : $root.getCurrentIndex($index(), 1) + 1"></div>
                        </div>

                        <div data-bind="css : { 'active-number' :  $root.activeInsideIndex() == $root.getCurrentIndex($index(), 2),  
                                 'passive-number'  : $root.activeInsideIndex() != $root.getCurrentIndex($index(), 2) },
                         click : $root.selectPost.bind($data, {index : $index()})">
                            <div class="numbers" data-bind="text :$root.getCurrentIndex($index(), 2) + 1 "></div>
                        </div>
                    </div>
                </div>
                <div class="next-videos next">
                    <div class="arrow"></div>
                </div>
            </div>
            <div class="cont-video-numbers" data-bind="style : { display : type() =='video' ? 'block' : 'none' }, with : activeVideo">
                <div class="video-player-div">
                    <div data-bind="html : link">

                    </div>
                    @*<video class="video" controls="">
                                <source src="assets/video/Metallica.mp4">
                            </video>*@
                </div>
                <div class="text-under-video" data-bind="text :name">
                </div>
            </div>

            <div class="question-main-div" data-bind="style : { display : type() == 'pre' ? 'block' : 'none' }, with :  activePre">
                @Html.Partial("_ExerciseCommonPartial",1)
            </div>
            <div class="question-main-div" data-bind="style : { display : type() == 'post' ? 'block' : 'none' }, with : activePost">
                @Html.Partial("_ExerciseCommonPartial",1)
            </div>
        </div>

        <div class="save-link-div" data-bind="style : { display : type() == 'video' ? 'block' : 'none' }">
            <div class="nebula-link">
                <div class="link-icon"></div>
                <a class="text-link" href="facebook.com">facebook.com/davit.ghlonti/profile</a>
            </div>
            <button id="save">
                <div class="save-icon"></div>
                <div id="text-save">შენახვა</div>
            </button>
            <button id="mistake">
                <div class="mistake-icon"></div>
                <div id="text-mistake">შეცდომაა?</div>
            </button>
        </div> 

        @*<div class="progress-main-div" data-bind="style : { display :  type() == 'pre' ? 'block' : 'none' },
    with :  activePre">
            @Html.Partial("_ExerciseMoveNavigation")
        </div>

        <div class="progress-main-div" data-bind="style : { display :  type() == 'post' ? 'block' : 'none' }, 
    with : activePost">
            @Html.Partial("_ExerciseMoveNavigation")
        </div>
    </div>*@

    <div class="progress-main-div" data-bind="style : {'display' : type() == 'video' ? 'block' :'none'}">

    </div>

    <div class="fb-main-div">
    </div>

    @Html.Partial("_FooterPartial",2) 

    @section scripts{
        <script src="~/Js/common/exercise-common.js"></script>
        <script src="~/Js/geo/video-literature.js"></script>
    }

</body>
